.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #292F36;
  color: white;
  padding: 1rem 0;
}

.about__title {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f57711;
}

.about__description {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
  height: auto;
  width: 100%;
  max-width: 1100px;
}

.about__description span {
  font-weight: 700;
  color: #f57711;
}

@media (max-width: 768px) {
  .about__description {
    text-align: justify;
    padding: 0 20px;
    margin: 0 auto;
    width: 700px;
    height: auto;

  }

  .about__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f57711;
  }


  .about__description span {
    font-size: 1rem;
  }
}