.contact {
  background-color: #292F36;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact__title {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 80px 0 20px 0;
  text-align: center;
  color: #f57711;
}

.contact__description {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0 10px 40px 10px;
  text-align: center;
}

.badge-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}

.footer__copy {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contact__description {
    font-size: 1rem;
    padding: 0 20px;
  }

  .badge-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}