.header__container {
  display: flex;
  background-color: #292F36;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  color: azure;
}

.header__title {
  color: #12F7D6;
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 80px;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  align-items: center;
}

.header__nav-link {
  text-decoration: none;
  color: #7dcfc3;
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.header__nav-link:hover {
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav__image {
  width: 45px;
  height: 45px;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .header__nav {
    gap: 40px;
  }

  .header__nav-list {
    gap: 20px;
  }
}