.project {
  background-color: #292F36;
  color: white;
  margin: 0 auto;

}

.project__title-main {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: #f57711;
}

.project__cards {
  display: flex;
  justify-content: center;
  gap: 40px;

}

.project__title {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 20px;
  color: #12F7D6;
  text-align: center;
}

.project__image {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.project__descripition {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 10px;
  text-align: center;
}

.project__link {
  text-decoration: none;
  color: #12F7D6;
}

a.project__link:hover {
  color: #f57711;
  transition: 0.3s;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .project__cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}