.skills {
  padding: 1rem 0;
  background-color: #292F36;
  color: white;
  display: flex;
  flex-direction: column;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.skills__list-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills__image {
  display: flex;
  width: 110px;
  height: 110px;
  margin: 0 auto;

}

.skills__image:hover {
  transform: scale(1.1);
  transition: 0.3s;
  width: 120px;
  height: 120px;
}

.skills__list-item {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  background-color: #12F7D6;
  color: #292F36;
  padding: 10px 15px;
  border-radius: 5px;
}


.skills__title {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #f57711;
}

.skills__descripition {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}

span {
  font-weight: 700;
  color: #ffffff;
}

span:hover {
  color: #f57711;
  transition: 0.3s;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .skills__list {
    flex-direction: column;
    gap: 2rem;
  }
}