@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header.css);
@import url(../blocks/home.css);
@import url(../blocks/about.css);
@import url(../blocks/skills.css);
@import url(../blocks/project.css);
@import url(../blocks/contact.css);
@import url(../blocks/footer.css);
@import url(../blocks/btn-top.css);
@import url(../blocks/menu-hamburguer.css);